html {
  font-size:  18px;
  font-family: 'Srisakdi', cursive;  
  background: linear-gradient(145deg, rgba(190,109,157,0.9164040616246498) 28%, rgba(143,212,226,1) 66%, rgba(9,71,124,0.8911939775910365) 88%);
  text-align: center;  
}

figcaption {
  padding: 10px;
  color: blue;
}

p {
  color: white;
  font-size: 20px;
}

main {
  
}

#title { 
  color: pink;
  font-size: 50px;
  margin: 10px auto 70px auto; ;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#image {
    max-width: 720px;
    border-color: rgb(2,0,36,25%);
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;
}

img:hover{
    transform: scale(1.05);
}
#img-div {
  padding: 5px;
}

#img-caption {
  font-family: 'Permanent Marker', cursive;
  color: #3e3e37;
  padding: 5px;
}

#tribute-info {
  border-color: #8a5363;
  width: 1000px;
  border-width: 10px;
  border-style: solid;
  border-radius: 8%;
  margin: 10px auto auto auto;
  background: linear-gradient(135deg, rgba(199,194,104,1) 0%, rgba(235,109,144,1) 0%, rgba(88,163,175,1) 86%);
}

#headline {
  margin: 5px;  
} 

ul {
  text-align: left;
  font-size: 20px;
  line-height: 1.4;
}

li {
  padding: 10px 0 10px 0;
}

a { 
  color: orange;
  font-size: 1.5rem
}